<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc/toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc/toc_upgrading.xml">
      </toc>
      <toc
            file="toc/toc_quickstart.xml">
      </toc>
      <toc
            file="toc/toc_reference.xml">
      </toc>
      <toc
            file="toc/toc_integration.xml">
      </toc>
      <toc
            file="toc/toc_appendix.xml">
      </toc>
   </extension>

</plugin>
