/* ----------------------------------------------------------- */
/*   http://www.dynamicdrive.com/dynamicindex1/navigate1.htm   */
/* ----------------------------------------------------------- */

body { /*Default body style*/ 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #ffffff; 
	color: #000000; 
	font-style: normal;
	font-size: 0.8em;
	margin-left: 32px;
}

a:link { /* color of links */
	color: black;
}

a:visited { /* color of visited links */
	color: black;
}

a:hover { /* color of hovered links */
	color: black;
}

a:active { /* */
	color: black;
}

ul {
    white-space: nowrap;
}

ulx {
    width: 100%;
    list-style-type: none;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
}

.treeview ul{ /*CSS for Simple Tree Menu*/
	margin: 0;
	padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
	background: white url(topic.gif) no-repeat left center;
	list-style-type: none;
	padding-left: 22px;
	margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
	background: white url(container.gif) no-repeat left 1px;
	cursor: hand !important;
	cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
	display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
	cursor: default;
}