<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <!-- ======================================= -->
   <!--   CMOne                                 -->
   <!-- ======================================= --> 
   <extension
         point="de.taskforce.cmoneng.cmoneNGNFSObjectActions">
      <cmoneNGNFSObjectAction
            class="de.tools400.rpgunit.cmone.action.RunUnitTestAction"
            id="de.tools400.rpgunit.cmone.action.RunUnitTestAction"
            name="Field Table"/>
   </extension>
   
   <!-- ======================================= -->
   <!--   Preferences iRPGUnit                  -->
   <!-- ======================================= --> 
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tools400.rpgunit.cmone.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tools400.rpgunit.cmone.ui.preferences.CMOnePreferencesPage"
            id="de.tools400.rpgunit.cmone.ui.preferences.CMOnePreferencesPage"
            category="de.tools400.rpgunit.core.ui.preferences.PreferencesPage"
            name="%CMOnePreferencesPage_title">
      </page>
   </extension>   

</plugin>
